root: true

env:
 node: true

extends:
  "airbnb/base"

parser:
  "babel-eslint"

plugins:
  - react

rules:
  func-names: 0
  comma-dangle: [2, "never"]
  no-console: 0
  max-len: [2, 200]
  import/no-extraneous-dependencies: 0
  no-param-reassign: 0
  no-unneeded-ternary: 0
  class-methods-use-this: 0
  no-plusplus: 0
  arrow-body-style: 0
  arrow-parens: 0
  no-lonely-if: 0
